/* 
Project: Netflix stránky
Autor: annajohanova_75116
E-mail: a.johanova@seznam.cz
Popis: Vytvoření stránky, která bude co nejvíce podobná stránce ze zadání
*/

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #000000;
  --buttons-background-color: #db0000;
  --text-color-light: #fff;
  --text-color-light-grey: #ffffffce;
  --text-color-grey: #808080;
  --border-color: #808080;
  --nav-height: 55px;
  --content-width: 70%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY SECTION  */
body {
  font-family: "Book Antiqua", "Georgia", "Times New Roman", serif; /*Nastavení výchozího fontu Book Antiqua*/
  background-color: var(--background-color);
  color: var(--text-color-light);
}

/* 
============================
HOMEPAGE
============================ 
*/

/* IKONA BACK TO TOP */
.backToTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  font-size: 36px;
  cursor: pointer;
  display: none;
  color: var(--buttons-background-color);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* Při najetí myší na tlačítko "Zpět nahoru" se zvýší neprůhlednost na maximum,
   což vytvoří vizuální efekt zdůraznění */
.backToTop:hover {
  opacity: 1;
}

/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .backToTop {
    bottom: 30px;
    right: 30px;
  }
}

/* HEADER SECTION HOMPEAGE*/
.header-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Logo */
/* výška loga */
.logo {
  height: 40px;
}

/* Tlačítko Registrace */
.header-right {
  display: flex;
  align-items: center;
}

/* stylování tlačítka */
.register-button {
  background-color: var(--buttons-background-color);
  color: var(--text-color-light);
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (max-width: 300px) {
  /*Do max. šířky displeje 300px se logo a tlačítko řadí pod sebe*/
  .header-homepage {
    display: block;
  }
}

/* Na obrazovkách s minimální šířkou 768px se zvětší velikost písma tlačítka "Registrace" */
@media (min-width: 768px) {
  .register-button {
    font-size: 1rem;
  }
}

/* HERO */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url("/img/background.jpg");
  height: 100vh;
  background-size: cover; /* Obrázek vyplní celý prvek */
  background-position: center center; /* obrázek je zarovnán na střed horizontálně i vertikálně */
  background-repeat: no-repeat; /* obrázek se neopakuje */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Vertikální uspořádání textu a formuláře */
  justify-content: center; /* Vertikální střed */
  align-items: center; /* Horizontální střed */
}

.hero-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Prvky uvnitř se skládají vertikálně (sloupcově) */
  justify-content: center; /* Horizontální střed */
  align-items: center; /* Vertikální střed */
  text-align: center;
  position: relative; /*nastavení pozice relativ pro pozicování textu Hero sekce s třídou .hero-text */
}

/* stylování textu */
h1,
h2,
p {
  margin-bottom: 5px;
  color: var(--text-color-light-grey);
}

h1 {
  font-size: 1.3rem;
  font-weight: 900;
}

h2 {
  font-size: 0.9rem;
  font-weight: 100;
}

p {
  font-size: 0.6rem;
}

/* stylování formuláře */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px; /* mezery mezi poli */
}

/* stylování položek formuláře */
input.emailAdress {
  width: 50vw;
  height: 20px;
  background-color: transparent;
  border: none;
  border: 2px solid rgb(200, 200, 200);
  margin: 5px 0 5px 0;
  padding: 10px;
  outline: none;
  text-align: left;
  font-size: 0.5rem;
}

/*stylování tlačítka pro potvrzení formuláře*/
button.start {
  background-color: var(--buttons-background-color);
  color: var(--text-color-light);
  border: none;
  padding: 8px 8px;
  font-size: 0.5rem;
}
/* hover pro tlačítko formuláře */
button:hover {
  background-color: #b30000;
  cursor: pointer;
}

/* nastavení barvy pro placeholdery ve formuláři */
input::placeholder {
  color: var(--border-color);
}

/* změna barvy textu pro uživatelský vstup */
input {
  transition: border-color 0.1s ease;
  color: white;
}

/* stylování pro zařízení s šířkou obrazovky alespoň 500px */
@media (min-width: 500px) {
  .hero-wrapper {
    width: 45vw;
  }
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.8rem;
  }
  h1,
  h2,
  p {
    margin-bottom: 8px;
    color: var(--text-color-light-grey);
  }
  input.emailAdress {
    width: 30vw;
    height: 30px;
    font-size: 0.8rem;
  }
  button.start {
    font-size: 0.8rem;
    height: 30px;
  }
}

/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .hero-wrapper {
    width: 40vw;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }
  h1,
  h2,
  p {
    margin-bottom: 8px;
    color: var(--text-color-light-grey);
  }
  .emailAdress {
    width: 45vw;
  }
}

/* MOVIE SECTION */
.movie {
  background: var(--background-color);
  padding-top: 25px;
  display: flex;
  flex-direction: column; /* Vertikální uspořádání textu a formuláře */
  justify-content: center;
  align-items: center;
}

.movies-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

/* stylování obrázku jednotlivých filmů */
.movie-card img {
  width: 100px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05); /* lehké zvětšení při najetí */
}

/* Stylování tlačítka */
.movies-button {
  background-color: var(--buttons-background-color);
  color: var(--text-color-light);
  border: none;
  margin: 30px;
  padding: 8px 12px;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

/* Hover efekt */
.movies-button:hover {
  background-color: #b30000;
}

/* stylování pro zařízení s šířkou obrazovky alespoň 400px */
@media (min-width: 400px) {
  .movies-container {
    flex-direction: row;
    justify-content: center;
  }
  .movie img {
    justify-content: center;
  }

  .movie-card img {
    width: 100px;
    height: 150px;
  }

  /* stylování pro zařízení s šířkou obrazovky alespoň 600px */
  @media (min-width: 600px) {
    .movie-card img {
      width: 120px;
      height: 180px;
    }
  }
}
/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .movie-card img {
    width: 200px;
    height: 300px;
  }
}

/* FOOTER */
.footer {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0px 0px 20px 0px;
}

/* stylování sloupců patičky */
.column {
  min-width: 120px;
}

/* stylování odkazů patičky */
.footer-link {
  font-size: 0.6rem;
  font-weight: 100;
  color: var(--text-color-grey);
}

/* stylování odkazů patičky po najetí myši */
.footer-link:hover {
  color: var(--text-color);
  text-decoration: none;
}

/* stylování pro zařízení s šířkou obrazovky alespoň 600px */
@media (min-width: 600px) {
  .footer {
    flex-wrap: nowrap;
    gap: 15px;
  }
  .footer-link {
    font-size: 0.5rem;
  }
  .column {
    min-width: 70px;
  }
}

/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .footer {
    flex-wrap: nowrap;
    gap: 5px;
  }

  .footer-link {
    font-size: 0.6rem;
    line-height: 1.1rem;
  }

  .column {
    min-width: 130px;
  }
}

/* 
============================
DALŠÍ FILMY
============================ 
*/
/* Hlavička – tlačítko zarovnané na střed */
.header-movies {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

/* Styl tlačítka "Úvodní strana" */
.homepage-button {
  background-color: var(--buttons-background-color);
  color: var(--text-color-light);
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Pro obrazovky širší než 768px */
@media (min-width: 768px) {
  .homepage-button {
    font-size: 1.1rem;
  }
}

/* Hover pro tlačítko */
.homepage-button:hover {
  background-color: #b30000;
  cursor: pointer;
}

.selector {
  display: flex;
  justify-content: center;
}

/* SELECT OPTION SECTION */
#select-movie {
  border: 2px solid var(--buttons-background-color);
  background-color: var(--background-color);
  color: var(--text-color-light);
  padding: 5px;
}

#select-movie:hover {
  cursor: pointer;
}

/* Sekce, kam se načítají obrázky */
#movie-cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* zarovnání na střed */
  gap: 15px;
  padding: 20px;
}

/* Styl jednotlivých obrázků filmu */
.movie-image {
  width: 140px;
  transform: rotate(5deg); /* mírné natočení */
  transition: transform 0.3s ease;
}

/* Při hoveru se obrázek narovná */
.movie-image:hover {
  transform: rotate(0deg); /* narovnání po najetí */
}

/* stylování pro zařízení s šířkou obrazovky alespoň 600px */
@media (min-width: 600px) {
  .movie-image {
    width: 170px;
  }
}

/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .movie-image {
    width: 200px;
  }
}

/* 
============================
REGISTRACE
============================ 
*/
/* HEADER SECTION REGISTRATION*/
.header-registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: var(--background-color);
}

@media (max-width: 300px) {
  /*Do max. šířky displeje 300px se logo a tlačítko řadí pod sebe*/
  .header-registration {
    display: block;
  }
}

/* FORM SECTION */
/* stylování formuláře */
.form-registration {
  height: calc(100vh - var(--nav-height));
  flex-direction: column;
}

/* stylování položek formuláře */
.firstName,
.lastName,
.email,
.password {
  width: 55vw;
  background-color: transparent;
  border: 2px solid var(--border-color);
  padding: 10px;
  outline: none;
  text-align: left;
  font-size: 0.5rem;
}

/*stylování tlačítka pro potvrzení formuláře*/
.form-registration button {
  background-color: var(--buttons-background-color);
  color: var(--text-color-light);
  width: 55vw;
  font-size: 0.8rem;
  border: none;
  padding: 7px 10px;
  margin-top: 10px;
}
/* hover pro tlačítko formuláře */
.form-registration button:hover {
  background-color: #b30000;
  cursor: pointer;
}

/* barva rámečku při zadávání hesla */
input.valid {
  border-color: green !important;
}

input.invalid {
  border-color: red !important;
}

/* stylování pro zařízení s šířkou obrazovky nejvíce 300px */
@media (max-width: 300px) {
  .firstName,
  .lastName,
  .email,
  .password {
    width: 55vw;
    font-size: 0.5rem;
  }
  .form-registration button {
    font-size: 0.7rem;
    width: 55vw;
  }
}

/* stylování pro zařízení s šířkou obrazovky alespoň 600px */
@media (min-width: 600px) {
  .firstName,
  .lastName,
  .email,
  .password {
    width: 30vw;
    font-size: 0.5rem;
  }
  .form-registration button {
    font-size: 0.9rem;
    width: 30vw;
  }
}

/* stylování pro zařízení s šířkou obrazovky alespoň 768px */
@media (min-width: 768px) {
  .firstName,
  .lastName,
  .email,
  .password {
    width: 30vw;
    font-size: 0.7rem;
  }
  .form-registration button {
    font-size: 1.1rem;
    width: 30vw;
  }
}
